@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* UNIVERSAL STYLES */

body {
    margin: 0;
    font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 15px;
    letter-spacing: .5px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover,
a.active {
    text-decoration: underline;
}

.header {
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 12px 1px 7px 1px rgb(153, 153, 153, 0.25);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background: #EBEBEB;
    bottom: 0;
    text-align: center;
    font-style: italic;
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    border-top: 1px solid #c5c5c5;
}

button {
    cursor: pointer;
    outline: none;
}

ul {
    padding-inline-start: 1.5rem;
    font-size: 14px;
}

li {
    padding-bottom: 0.25rem;
}

.button-primary {
    color: #FFFFFF;
    background-color: #0364FF;
    padding: 1rem;
    border-radius: 99rem;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.button-primary:hover {
    box-shadow: 1px 1px 9px 3px rgb(83, 112, 128, 0.2);
}

.icon-button {
    display: flex;
    align-items: center;
}

.icon-button .icon {
    margin-left: .5rem;
}

.icon {
    width: 22px;
    height: auto;
}

.icon-small {
    width: 18px;
    height: auto;
    max-height: 18px;
}

.hidden {
    visibility: hidden;
}

.hidden-gone {
    display: none;
}


/* modal menu */

.modal {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 18px 0px rgb(153, 153, 153, 0.25);
    min-width: 6rem;
    border-radius: 1.5rem;
    padding: 1rem 0;
    outline: none;
}

.modal-row {
    padding: 0.875rem 2rem;
    display: flex;
    align-items: center;
}

.modal-row:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.modal-row img {
    padding-right: 1rem;
}

.modal-table {
    margin-top: 3rem;
    right: 0;
    margin-right: 1rem;
}

.ellipsis {
    cursor: pointer;
}


/* checkbox */

input[type="checkbox"] {
    background-color: #d8d8d8;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

input[type="checkbox"]:checked:before {
    content: '✔';
    color: #969696;
    font-size: 13px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label label {
    margin-left: .5rem;
    color: #757575;
}


/* search bar */

.search {
    border-radius: 99rem;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    color: #949494;
    font-style: italic;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: .3rem;
}

.search img {
    margin-left: 0.5rem;
}

.search input {
    margin-left: 0.5rem;
    border: none;
    outline: none;
}

.divider {
    border: none;
    border-top: 1px solid #CFCFCF;
    margin: 1.5rem 0;
}


/* HOME */

.home {
    height: 100vh;
}

.home-hero {
    height: 90vh;
    background-image: url('./resources/home-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-content {
    padding: 2rem;
    margin-left: 20%;
    margin-top: 5%;
}

.home-content a {
    text-decoration: none;
}

.home-description {
    width: 70%;
    font-size: 20px;
    line-height: 32px;
}


/* BROWSE MODULES */

.browse {
    background-color: #F5F5F5;
    height: 100vh;
}

.browse-center {
    display: flex;
    height: 90vh;
}

.browse-left-side {
    flex: 1;
    border-right: 1px solid #C8C8C8;
    padding: 1rem;
}

.browse-right-side {
    flex: 4;
}

.browse-header {
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #B2B2B2;
}

.browse-section>.search,
.browse-section>h3 {
    margin-bottom: 1rem;
}


/* table columns */

.id-col,
.submitter-col,
.date-col,
.category-col,
.status-col,
.first-name-col {
    flex: 1;
}

.email-col {
    flex: 2;
}

p.email-col {
    font-style: italic;
    text-decoration: underline;
}

.first-name-col {
    font-weight: 800;
}

.title-col {
    flex: 3;
    font-weight: 800;
}

.browse-entry {
    display: flex;
    height: 2rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.browse-entry:nth-child(odd) {
    background-color: #E9E9E9;
}

.browse-entry:nth-child(even) {
    background-color: #F4F4F4;
}


/* VIEW MODULE */

.view-module {
    background-color: #F5F5F5;
    min-height: 100vh;
}

.view-module-content {
    padding: 3rem 4rem;
    margin-bottom: 2rem;
}

.module-info {
    display: flex;
}

.module-info-left {
    flex: 2;
    margin-right: 10rem;
}

.module-info-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.module-timestamp {
    align-self: flex-end;
    color: #979797;
    font-style: italic;
}

.module-author-comments {
    color: #A4A4A4;
}

.module-description {
    color: #8A8A8A;
}

.module-author {
    color: #6C6C6C;
    font-size: 16px;
}

.module-material-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3rem;
}

.module-material-nav .selected {
    background-color: #fff;
    box-shadow: 0px 0px 18px 0px rgb(153, 153, 153, 0.25);
    border-radius: 1.5rem;
    padding: 0.875rem 1.5rem
}

.module-material-nav .selected:hover {
    box-shadow: 0px 0px 18px 0px rgb(153, 153, 153, 0.4);
}

.module-material-nav-link {
    cursor: pointer;
}

.module-material-nav-link:not(.selected) {
    color: #8D8D8D;
}

.module-material-nav-link:not(.selected):hover {
    color: #484848;
}

.module-material-nav-link:first-child {
    margin-right: 1rem;
}

.module-cards {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.module-card {
    background-color: #fff;
    box-shadow: 0px 0px 18px 0px rgb(153, 153, 153, 0.25);
    width: 18rem;
    height: 15rem;
    border-radius: 2rem;
    padding: 2rem;
}

.module-card h4 {
    color: #484848;
}

.module-card ul {
    color: #888888;
}

.learning-objective {
    font-weight: bold;
}

.module-comment {
    background-color: #fff;
    box-shadow: 0px 0px 18px 0px rgb(153, 153, 153, 0.25);
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.module-comments {
    padding: 2rem 0;
}

.comment-name {
    color: #6C6C6C;
    font-weight: bold;
}

.comment-title {
    font-weight: bold;
}

.comment-time {
    color: #747474;
    font-weight: 100;
}

.comment-description {
    color: #888888;
}

.comment-like-dislike {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}

.comment-icon {
    margin: 0 0.5rem;
}

.material-card {
    background-color: #fff;
    box-shadow: 0px 0px 18px 0px rgb(153, 153, 153, 0.25);
    width: 18rem;
    height: 15rem;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.material-card h4 {
    color: #484848;
}

.comment-like-dislike-materials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.download {
    cursor: pointer;
}